<html>
    <head>
        <title>Valentina's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
      <h1>Hello!</h1>
      <h2>Welcome</h2>
      <h3>to</h3>
      <h4>my</h4>
      <h5>new</h5>
      <h6>blog</h6>
      <em>buonasera</em>
      <br <strong>bienvenue</strong>
      <ul><li>primo elemento</li><li>secondo elemento</li></ul>
      {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        <p>It works!</p>
    </body>
</html>
